.tag {
	display: flex;
	border-radius: var(--space-6);
}

.small {
	padding: var(--space-1) var(--space-2);
	min-width: 26px;
}

.large {
	padding: var(--space-2) var(--space-3);
	min-width: 32px;
}

.disabled {
	color: var(--color-grey-700);
	background-color: var(--color-grey-100);
}

.concero {
	color: rgba(89, 37, 230, 1);
	background-color: rgba(239, 235, 254, 1);
}

.lanca {
	color: var(--color-primary-700);
	background-color: var(--color-primary-100);
}
