.badge {
	display: flex;
	position: relative;
	height: fit-content;
	width: fit-content;
}
.badge-token {
	border-radius: 50%;
}

.badge-chain {
	background-color: var(--color-grey-25);
	border-radius: var(--space-1);
	box-shadow:
		0 0 6px 0 rgba(52, 64, 84, 0.3),
		0 2px 3px 0 rgba(52, 64, 84, 0.15);
	position: absolute;
	bottom: 0px;
	right: 0;
}
