.mock-input__wrapper {
	display: flex;
	width: 100%;
	min-height: 36px;
	gap: var(--space-1);
}

.mock-input {
	font-size: 32px;
	line-height: 36px;
	letter-spacing: -2%;
	color: var(--color-grey-500);
}
