:root {
	--color-primary-25: #f5fbfe;
	--color-primary-50: #e8f7fe;
	--color-primary-100: #d7f0fd;
	--color-primary-200: #a8dffa;
	--color-primary-300: #79cef8;
	--color-primary-400: #3ab7f5;
	--color-primary-500: #0b9ae1;
	--color-primary-600: #097bb3;
	--color-primary-700: #075d87;
	--color-primary-800: #043e5a;
	--color-primary-900: #022232;
	--color-grey-25: #fcfcfd;
	--color-grey-50: #f3f5f6;
	--color-grey-100: #eceff0;
	--color-grey-200: #d2d8db;
	--color-grey-300: #bcc5c9;
	--color-grey-400: #a2aeb3;
	--color-grey-500: #84949b;
	--color-grey-600: #66767d;
	--color-grey-700: #4b575c;
	--color-grey-800: #313c41;
	--color-grey-900: #1a2022;
	--color-success-25: #e9fcf2;
	--color-success-50: #dafbea;
	--color-success-100: #c5f8dd;
	--color-success-200: #75eeaf;
	--color-success-300: #42de8c;
	--color-success-400: #22c474;
	--color-success-500: #1da562;
	--color-success-600: #17854f;
	--color-success-700: #11633b;
	--color-success-800: #0c4228;
	--color-success-900: #062416;
	--color-warning-25: #fff7e6;
	--color-warning-50: #fff2d6;
	--color-warning-100: #ffeabc;
	--color-warning-200: #ffd16e;
	--color-warning-300: #ffb71c;
	--color-warning-400: #e79e00;
	--color-warning-500: #c38500;
	--color-warning-600: #9b6a00;
	--color-warning-700: #755000;
	--color-warning-800: #4d3500;
	--color-warning-900: #291c00;
	--color-danger-25: #fef7f7;
	--color-danger-50: #feefef;
	--color-danger-100: #fde8e8;
	--color-danger-200: #fccccc;
	--color-danger-300: #fbb1b1;
	--color-danger-400: #f98d8d;
	--color-danger-500: #f75e5e;
	--color-danger-600: #e80c0c;
	--color-danger-700: #b10909;
	--color-danger-800: #780606;
	--color-danger-900: #6f0d06;
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 24px;
	--space-6: 32px;
	--space-7: 40px;
	--space-8: 48px;
	--space-9: 64px;
	--space-10: 96px;
	--space-11: 128px;
	--font-size-h1: 48px;
	--font-size-h2: 32px;
	--font-size-h3: 24px;
	--font-size-h4: 16px;
	--font-size-h5: 16px;
	--font-size-h6: 16px;
	--font-size-p: 14px;
	--line-height-h1: 56px;
	--line-height-h2: 36px;
	--line-height-h3: 28px;
	--line-height-h4: 20px;
	--line-height-h5: 20px;
	--line-height-h6: 20px;
	--line-height-p: 18px;

	--font-weight-bold: 500;
	--font-weight-regular: 400;
}
