.social__widget {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	padding: var(--space-2);
	gap: 10px;
	border-radius: var(--space-3);
}

.twitter {
	background-color: var(--color-grey-600);
}

.discord {
	background-color: rgba(88, 101, 242, 1);
}
